<!DOCTYPE html>
<html>
<head >
  <script>
    var hash = '{{hash}}';
    function submitPayuForm() {
      if(hash == '') {
        return;
      }
      var payuForm = document.forms.payuForm;
      payuForm.submit();
    }
  </script>
</head>
<body onload="submitPayuForm()">
<h1>PayUMoney Payment Request Form </h1>
<form action="{{action}}"  name="payuform" method=POST >
  <input type="hidden" name="key"  value="{{key}}"/>
  <input type="hidden" name="hash" value="{{hash}}"/>
  <input type="hidden" name="txnid" value="{{txnid}}"/>
<table>
<tr>
<td><b>Mandatory Parameters</b></td>
</tr>
<tr>
<td>Amount: </td>
<td><input name="amount"  value="{{amount}}"/></td>
<td>First Name: </td>
<td><input name="firstname" id="firstname"  value="{{firstname}}"/></td>
</tr>
<tr>
<td>Email: </td>
<td><input name="email" id="email"  value="{{email}}" /></td>
<td>Phone: </td>
<td><input name="phone"  value="{{phone}}"/></td>
</tr>
<tr>
<td>Product Info: </td>
<td colspan="3"><textarea name="productinfo" >{{productinfo}}</textarea></td>
</tr>
<tr>
<td>Success URI: </td>
<td colspan="3"><input name="surl"  size="64"  value="{{surl}}"/></td>
</tr>
<tr>
<td>Failure URI: </td>
<td colspan="3"><input name="furl"  size="64" value="{{furl}}"/></td>
</tr>
<tr>
<td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa" /></td>
</tr>
<tr>
<td><b>Optional Parameters</b></td>
</tr>
<tr>
<td>Last Name: </td>
<td><input name="lastname" id="lastname" value="{{lastname}}" /></td>
<td>Cancel URI: </td>
<td><input name="curl" value="{{curl}}" /></td>
</tr>
<tr>
<td>Address1: </td>
<td><input name="address1" value="{{address1}}"/></td>
<td>Address2: </td>
<td><input name="address2"  value="{{address2}}"/></td>
</tr>
<tr>
<td>City: </td>
<td><input name="city"  value="{{city}}"/></td>
<td>State: </td>
<td><input name="state" value="{{state}}" /></td>
</tr>
<tr>
<td>Country: </td>
<td><input name="country" value="{{country}}" /></td>
<td>Zipcode: </td>
<td><input name="zipcode"  value="{{zipcode}}"/></td>
</tr>
<tr>
<td>UDF1: </td>
<td><input name="udf1" value="{{udf1}}" /></td>
<td>UDF2: </td>
<td><input name="udf2" value="{{udf2}}" /></td>
</tr>
<tr>
<td>UDF3: </td>
<td><input name="udf3"  value="{{udf3}}" /></td>
<td>UDF4: </td>
<td><input name="udf4"  value="{{udf4}}"/></td>
</tr>
<tr>
<td>UDF5: </td>
<td><input name="udf5" value="{{udf5}}" /></td>
<td>PG: </td>
<td><input name="pg"  value="{{pg}}"/></td>
</tr>
<td colspan="4"><input type="submit" value="Submit"  /></td>
</tr>
</table>
</form>
</body>
</html>
